
  
      
   		.navbar{
            display: flex;
            height:90px;
            width:100%;
            background-color:rgb(2, 123, 236);
            color:white;
            top:0%;
            left:0%;
            
            position:fixed;
            z-index: 1;
        }
        /* div > div {
            border: 1px solid red;
        } */
        .navbar > div{
            flex-direction: row;

        }
        .navbar > div:nth-child(4){
            flex-grow:1;
            
        }

        .navbar > div:nth-child(1){
            padding:  25px;
        }
        input{
            width: 530px;
            padding: 3px 10px;
            border-radius: 50px;
            border: none;
            outline: none;
            height: 30px;
        }
        a,
        a:hover{
            text-decoration: none;
        }
        .searchIcon{
            width: 20px;
            height: 20px;
            padding: 5px;
            background-color: yellow;
            border-radius: 50%;
        }
        .search-box{
            display: flex;
            border: 1px solid #ccc;
            margin: 22px 10px;
            padding: 5px 10px;
            border-radius: 30px;
            background-color: white;
        }
        .search-box input{
            width: 400px;
            border: 0;
            outline: 0;
            background: transparent;
        }

        .depdiv{
            position:relative;
            display:block;
            font-family: 'Domine', serif;
            color:white;
            margin:25px 10px;
            padding: 8px;
            border-radius: 30px;
            font-size: 15px;
            background-color: rgb(2, 123, 236);
        }
        .depdiv:hover{
            background-color: rgb(12, 80, 143);;
        }
        #cart{
            background-color: rgb(2, 123, 236);
        }
        .form {
            max-width:100%;
            height:100%
        }

        .icon{
            color: white;
            padding-right: 5px;
        }

        @media screen and (max-width : 1024px) {
            .navbar{
            display: flex;
            height:90px;
            width:100%;
            background-color:rgb(2, 123, 236);
            color:white;
            top:0%;
            left:0%;
            position:fixed;
            }
            .navbar > div{
            flex-direction: row;
            flex-basis: 10%;

            }
            .navbar > div:nth-child(1){
                padding:  25px 2px;
            }
            input{
                width: 330px;
                padding: 3px 10px;
                border-radius: 50px;
                border: none;
                outline: none;
                height: 30px;
            }
            .search_btn{
                width: 30px;
                height: 30px;
                background-color: yellow;
                border-radius: 50px;
                color: black;
                position: absolute;
                right: 1rem;
                display: grid;
                place-items: center;
            
            }
            .depdiv{
                position:relative;
                display:flex;
                font-family: 'Noto Sans Display', sans-serif;
                color:white;
                width: 150px;
                height: 35px;
                margin:25px 0px;
                border-radius: 20px;
                font-size: 12px;
                background-color: rgb(2, 123, 236);
            }

        }

        @media screen and (max-width : 786px) {
            .navbar{
            display: flex;
            height:90px;
            width:100%;
            background-color:rgb(2, 123, 236);
            color:white;
            top:0%;
            left:0%;
            position:fixed;
            }
            .navbar > div{
            flex-direction: row;
            flex-basis: 5%;

            }
            .navbar > div:nth-child(1){
            
                padding:  25px 0px;
                
            }
            input{
                width: 200px;
                padding: 3px 10px;
                border-radius: 50px;
                border: none;
                outline: none;
                height: 30px;
            }
            .search_btn{
                width: 30px;
                height: 30px;
                background-color: yellow;
                border-radius: 50px;
                color: black;
                position: absolute;
                right:5rem;
                display: grid;
                place-items: center;
            
            }
            .depdiv{
                position:relative;
                display:inline-block;
                font-family: 'Noto Sans Display', sans-serif;
                color:white;
                width: 80px;
                height: 45px;
                margin:25px 0px;
                border-radius: 20px;
                font-size: 12px;
                background-color: rgb(2, 123, 236);
            }

        }
        @media screen and (max-width : 480px) {
            input{
                width: 100px;
                padding: 3px 10px;
                border-radius: 50px;
                border: none;
                outline: none;
                height: 30px;
            }
            .search_box{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .search_btn{
                width: 30px;
                height: 30px;
                background-color: yellow;
                border-radius: 50px;
                color: black;
                position: absolute;
                right: 1rem;
                display: grid;
                place-items: center;
            
            }
        }

        li{
list-style: none;
}
.dropbtn {

color: white;
padding: 14px;
font-size: 16px;
border: none;
cursor: pointer;
border-radius: 13px;
margin: 22px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}



.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color:  rgb(12, 80, 143);
}

#btn1 {
 background-color: rgb(2, 123, 236) ;
 width: 140px;
 height: 40px;
 padding: 1px;
 margin: 4px 6px;
text-align: center;
color: white;
border-radius: 10px;
justify-content: center;
}
#btn2{
background-color: white ;
border: 1px  solid black;
width: 140px;
height: 40px;
 padding: 1px;
 margin: 2px;
text-align: center;
border-radius: 10px;
justify-content: center;
margin-left: 4px;

}
      /* slideshow */

      #maindiv{
          color: black;
          margin: 270px; 
          height: 50px;
      }
      #all_slider{
              position: relative; 
                left: 0px;
              right: 0px;
              width: 100%;
          } 
            .slider{
              position: absolute;
              top:100px;
              left: 30px;
              right:30px;
              visibility: hidden;
              transition: 0.5s;
              opacity: 0;
          }
           .active{
              opacity: 1;
              visibility: visible;
          
          }  
          .prev{
              position: absolute;
              left: 40px;
                 top: 18rem;
              border: none;
              background-color: transparent;
              color: rgb(66, 66, 66);
              font-size: 46px;
              padding: 16px 21px;
              border-radius: 1000px;
              transition: 0.5s;
              outline: none;
              opacity: 0.6;
          }
          .prev:hover{
              opacity: 1;
          }
          .next{
              position: absolute;
              right: 40px;
              top: 18rem;
              border: none;
              background-color: transparent;
              color: rgb(66, 66, 66);
              font-size: 46px;
              padding: 16px 21px;
              border-radius: 1000px;
              transition: 0.5s;
              outline: none;
              opacity: 0.6;
          }
          .next:hover{
              opacity: 1;
          }

      /* 1st div */

      
      .mainpage0{
          width:95%;
          height:70%;
          position: absolute;
          border:0px solid rgb(26, 55, 75);
          display:flex;
          flex-direction: row;
          margin-top: 30px;
         margin-left: 20px;
      }
      .page0{
          border:0px solid rgb(26, 55, 75);
          width:390px;
          margin:14px 14px 14px 14px;
          
      }
      .page00{
          display: flex;
          border:0px solid rgb(26, 55, 75);
          width:350px;
          height:130px;
          margin:0px 0px 14px 0px;
          padding:14px 14px 14px 14px;
          box-shadow: 1px 2px 2px 2px  rgb(202, 199, 199);
          border-radius:6px;
          background-color:  rgb(230,241,252);
      }
      .page00 > div:nth-child(2) {
          flex-grow: 1;
      }
      .page01{
          border:0px solid rgb(26, 55, 75);
          width:350px;
          height:267px;
          margin:0px 0px 0px 0px;
          padding:14px 14px 0px 14px;
          box-shadow: 1px 2px 2px 2px  rgb(202, 199, 199);
          border-radius:6px;
  
      }
      .page1{
          border:0px solid rgb(26, 55, 75);
          width:360px;
          height:423px;
          margin:14px 30px 14px 30px;
          padding:14px 14px 14px 14px;
          box-shadow: 1px 2px 2px 2px  rgb(202, 199, 199);
          border-radius:6px;
      }
      .page2{
          border:0px solid rgb(26, 55, 75);
          width:360px;
          height:423px;
          margin:14px 14px 14px 14px;
          padding:14px 14px 14px 14px;
          box-shadow: 1px 2px 2px 2px  rgb(202, 199, 199);
          border-radius:6px;
      }
      #fontheadforpage1{
          display: grid;
          grid-gap: 60px;
          grid-template-columns: 120px 120px;
          margin-top: 50px;
          margin-left: 20px;
      }
      #fontheadforpage2{
          display: grid;
          grid-gap: 80px;
          grid-template-columns: 110px 110px;
          grid-template-rows: 100px 100px;
          margin-top: 50px;
          margin-left: 25px;
      }
      .seetimes{
          background-color:  rgb(230,241,252);
      }
      .pharmacy{
          width:90px;
          height:90px;
          background-color:  rgb(230,241,252);
          border-radius:55px;
          margin:10px 10px 10px 10px;
          border:0px solid rgb(26, 55, 75);
      }
      .auto{
          width:90px;
          height:90px;
          background-color:  rgb(230,241,252);
          border-radius:45px;
          margin:10px 10px 10px 10px;
          border:0px solid rgb(26, 55, 75);
      }
      .cakes{
          width:90px;
          height:90px;
          background-color:  rgb(230,241,252);
          border-radius:45px;
          margin:10px 10px 10px 10px;
          border:0px solid rgb(26, 55, 75);
      }
      .asd{
          width:100%;
          height: 93%;
          border:0px solid rgb(26, 55, 75);
          display:flex;
      }
      .dsa{
          width:33%;
          height: 93%;
          border:0px solid rgb(26, 55, 75);
      }
      .text{
          text-align: center;
          font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
      }
      .description{
          color: black;
          
      }


      /* 2nd cart div */
      .mainpage1{
          border:0px solid rgb(26, 55, 75);
          margin-top: 800px;
          margin-left: 35px;
          margin-right: 35px;
          padding: 15px;
          box-shadow: 1px 2px 2px 2px  rgb(202, 199, 199);
          border-radius:6px;
      }
      .mainpage1 a{
       color: black;
       font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
      }
      .first{
      display:flex;
      width:100%;
      height:20%;
      align-items: center;
      
  }
  .first > div {
      padding: 15px;

  }
  .img1{

      width:80%;
      height: 100%;
  }
  .img1{

      
  }
  .add{
          border:1px solid white;
          height:36px;
          width:55px;
          margin: 5%;
          text-align:center;
          background-color:rgb(2, 123, 236);
          border-radius: 18px;
          color:white;
          align-items: center;
      }
      .addclr{
          color:white;
          text-align: center;
          margin-top: 8px;
          font-size:15px;
          font-family: 'Roboto', sans-serif;
      }

  
       .slide{
           margin:10% 10% 0% 15%
       }

       /* last cart div*/
       .mainpage2{
          border:0px solid rgb(26, 55, 75);
          margin-left: 35px;
          margin-right: 35px;
          padding: 15px;
          box-shadow: 1px 2px 2px 2px  rgb(202, 199, 199);
          border-radius:6px;
          font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
          
       }
 

       /* redbull */

      .redbull{
          width:95%;
          border:0px solid rgb(26, 55, 75);
          margin: 60px 20px 60px 35px;
      }
      #freeShipping{
          width: 100%;
          background-image: url("https://i.pinimg.com/originals/4c/57/52/4c575204eade4a06aba5e6aaab155840.jpg");
          border: 1px solid white;
          height: 40px;
          border-radius: 10px;
            padding:10px 0 10px 0;
          font-size: 14px;
          color: white;
          font-weight: bold;
          text-align: center;
          font-family: 'Noto Sans Display', sans-serif;
          
      }
      #lastDiv{
          width: 100%;
          display: flex;
          margin-top: 2%;
          box-shadow: 1px 1px 1px 1px gray;
          border-radius: 10px;
          height: 200px;
      }
      #first{
          width: 18%;
          margin-left: 2%;
          justify-content: center;
      }
      #sec{
          width: 22%;
        
          justify-content: center;
          text-align: center;
      }
      #third{
          width: 58%;
      }

      #smallPic{
          width: 100%;
          height: 100%;
      }

      #logo{
          width: 6%;
          height: 90%;
          
      }
      img{
          width: 100%;
          height: 100%;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
      }
      #shop-now{
          padding: 2%;
          width: 40%;
          border-radius: 12px;
          justify-content: center;
          background-color: white;
      }
      .newone{
          height: 10%;
          width: 10%;
      }
      div{
      font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
      }
      h3{
           font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
      }

